<div class="container new-comment-box ">
  <div class="row">
    <div class="col-md-6">
        <div class="d-flex h-100 justify-content-center">
          <div class="row align-self-center text-center">
          <%= link_to 'Continue As Guest', '', class:'btn btn-primary btn-log-in' %>
          </div>
        </div>

    </div>
    <div class="col-md-4 offset-1">
      <%= form_for(:session, url: login_path) do |f| %>
      <div class="row">

        <%= f.email_field :email, class: 'form-control', placeholder: "Email"   %>

        <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
      </div>

      <div class="action text-center">
        <%= f.submit "Log in", class: "btn btn-primary btn-log-in" %>
      </div>


      <% end %>

      <div class="row">
        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
      </div>
    </div>
  </div>
</div>
