<div class="container new-comment-box">

  <%= form_for @new_comment do |f| %>

      <div class="row">
        <div class="form-group custom-box col-md-12 col-lg-4 offset-lg-2">
          <%= f.text_field :first_name, class: "form-control", placeholder: "First Name", required: true %>
        </div>
        <div class="form-group col-md-12 col-lg-4 ">
          <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name", required: true  %>
        </div>

        <div class="form-group col-md-12 col-lg-8 offset-lg-2">
          <%= f.text_field :email_address, class: "form-control", placeholder: "Email Address", required: true  %>
        </div>
        <div class="form-group col-md-12 col-lg-8 offset-lg-2">
          <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone Number", required: true  %>
        </div>

        <div class="form-group col-md-12 col-lg-8 offset-lg-2">
          <%= f.text_area :body, class: "form-control", placeholder: "How can we help?", rows: "3", required: true %>
        </div>
      </div>

      <div class="actions text-center">
        <%= f.submit "SUBMIT", class: 'btn btn-primary btn-comment-submit' %>
      </div>
  <% end %>


</div>
