<section class="welcome-menu" id="welcome-menu">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-4">
        <%= link_to menu_path do %>
          <div class="welcome-menu-item">
              <%= image_tag('The-Original-Pancake-House_Fresh_Fruit_Waffle.jpg', class: 'img-fluid rounded welcome-menu-item-image' )%>
              <div class="caption">
                <p class="white-text">Fresh Fruit Waffle</p>
              </div>
          </div>
        <% end %>

      </div>
      <div class="col-12 col-md-4">
        <%= link_to menu_path do %>
          <div class="welcome-menu-item">
              <%= image_tag('The-Original-Pancake-House_Chocolate_Chip_Pancake.jpg', class: 'img-fluid rounded welcome-menu-item-image' )%>
              <div class="caption">
                <p class="white-text">Chocolate Chip Pancakes</p>
              </div>
          </div>
        <% end %>

      </div>
      <div class="col-12 col-md-4">
          <div class="welcome-menu-item">
            <%= link_to menu_path do %>
              <%= image_tag('The-Original-Pancake-House_Irish_Omelette.jpg', class: 'img-fluid rounded welcome-menu-item-image' )%>
              <div class="caption">
                <p class="white-text">Irish Omelette</p>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</section>
