<%= render 'home' %>
<div id="section-change">
</div>
<%= render 'difference' %>
<%= render 'traditional_menu' %>
<%= render 'about' %>
<%= render 'locations' %>
<%= render 'pancakes' %>
<hr>
<%= render 'menu' %>
<hr>
<%= render 'reviews' %>
