<section class="new_review" id="new_review">

  <div class="container new-position-box">

    <div class="jumbotron jumbotron-white">

    <h3>Create New Review</h3>
    <%= form_for @new_review do |f| %>
      <div class="row">

          <div class="form-group col-6">
            <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "First Name" %>
          </div>

          <div class="form-group col-6">
            <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "Last Name"  %>
          </div>

          <div class="form-group col-12">
            <%= f.text_area :body, autofocus: true, class: "form-control", placeholder: "Review body here.", lines: 3  %>
          </div>

          <div class="form-group col-2">
            <%= f.label :active %>
            <%= f.check_box :active, class: "form-control" %>
          </div>
          <p>*** Reviews that are inactive will not display on the website. ***</p>
        </div>

          <div class="actions text-center">
            <%= f.submit "SUBMIT", class: 'btn btn-primary btn-comment-submit' %>
          </div>

      <% end %>
    </div>

  </div>

</section>
