<hr>

<section class="welcome-footer hidden-xs" id="welcome-footer">
    <div class="container-fluid">
      <div class="row justify-content-between  text-center">
        <div class="col-md-4 col-sm-12 footer-logo">
          <%= link_to root_path do %>
            <%= image_tag('OPH_Logo_black.svg', class: 'd-flex img-fluid oph-footer-logo mx-auto d-block' )%>
          <% end %>
        </div>
        <div class="col-md-4 col-sm-12 footer-links">
          <div class="row justify-content-between footer-link-row">
            <%= link_to 'Menu', menu_path, class:'footer-link' %>
            <%= link_to 'About', about_path, class:'footer-link' %>
            <%= link_to 'Contact', contact_path, class:'footer-link' %>
            <%= link_to 'Positions', positions_path, class:'footer-link' %>
            <%= link_to 'Reviews', reviews_path, class:'footer-link' %>
          </div>
          <div class="row justify-content-center footer-copyright">
            <p>© 2017 - Website Designed by <%= link_to 'Dittoh, LLC', 'http://dittoh.com', class: 'dittoh-link' %></a>, All Rights Reserved.</p>
            <% if logged_in? %>
              <%= link_to "Log out", logout_path, method: :delete %>
            <% else %>
              <%= link_to "Log in", login_path %>
            <% end %>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 footer-description">
          <p class="footer-p">The Original Pancake House<span class="super-script">&reg;<span></p>
          <p class="footer-p">(614) 695-6810</p>
          <p class="footer-p">1633 W. Lane Ave.</p>
          <p class="footer-p">Upper Arlington, OH 43221</p>
        </div>
      </div>

    </div>
</section>
