<nav class="navbar navbar-fixed-top fixed-top bg-transparent py-3" id="navbar">
  <div class="container-fluid">
    <%= link_to '', root_path, class:"navbar-brand navbar-logo" %>


      <%= link_to '', 'javascript:;', class:"navbar-menu", onclick:"openNav()" %>
      <!-- <span class="sidenav-button" onclick="openNav()"><%= image_tag("menu_white_2x.png", class: "navbar-menu") %></span> -->
  </div>
<div class="container  text-center">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <%= link_to root_path do  %>
      <%= image_tag 'Group_82.png', class: 'sidenav-logo' %>
    <% end %>
    <%= link_to 'MENU', menus_path, class:'sidenav-link' %>
    <%= link_to 'ABOUT', abouts_path, class:'sidenav-link' %>
    <%= link_to 'CONTACT', contacts_path, class:'sidenav-link' %>
    <%= link_to 'POSITIONS', positions_path, class:'sidenav-link' %>
    <%= link_to 'REVIEWS', reviews_path, class:'sidenav-link' %>
    <br>
    <h3 class="h3-dark">HOURS:</p>
    <p>Monday - Friday: 8 AM - 2 PM</p>
    <p>Saturday - Sunday: 8 AM - 2 PM</p>

  </div>
</div>


</nav>
