<nav class="navbar navbar-fixed-top fixed-top bg-transparent py-3" id="navbar">
  <div class="container-fluid">
    <%= link_to '', root_path, class:"navbar-brand navbar-logo" %>

      <%= link_to '', 'javascript:;', class:"navbar-menu", onclick:"openNav()" %>
  </div>
<div class="container  text-center">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <%= link_to root_path do  %>
      <%= image_tag 'OPH_Logo_black.svg', class: 'sidenav-logo', onclick:"scrolltoTop()" %>
    <% end %>
    <%= link_to 'MENU', menu_path, class:'sidenav-link', onclick:"scrolltoTop()" %>
    <%= link_to 'ABOUT', about_path, class:'sidenav-link', onclick:"scrolltoTop()" %>
    <%= link_to 'CONTACT', contact_path, class:'sidenav-link', onclick:"scrolltoTop()" %>
    <%= link_to 'POSITIONS', positions_path, class:'sidenav-link', onclick:"scrolltoTop()" %>
    <%= link_to 'REVIEWS', reviews_path, class:'sidenav-link', onclick:"scrolltoTop()" %>
    <br>
    <h3 class="h3-dark">HOURS:</p>
    <p class="sidenav-days">Tuesday - Friday: 8 AM - 2:30 PM</p>
    <p class="sidenav-days">Saturday - Sunday: 7 AM - 4 PM</p>
    <br>
      <div class="row sidenav-social-row">
        <div class="col">
          <i class="fa fa-google-plus-square sidenav-social-media fa-2x" aria-hidden="true"></i>
        </div>
        <div class="col">
          <i class="fa fa-facebook-square sidenav-social-media fa-2x" aria-hidden="true"></i>
        </div>
        <div class="col">
          <i class="fa fa-instagram sidenav-social-media fa-2x" aria-hidden="true"></i>
        </div>
      </div>

  </div>
</div>


</nav>
