<nav class="navbar navbar-fixed-top navbar-toggleable-md fixed-top bg-transparent py-3" id="navbar">

    <%= link_to '', root_path, class:"navbar-brand" %>


  <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
  </button> -->

  <button class="navbar-toggler navbar-toggler-right" type="button">
    <div id="main">
      <span class="sidenav-button" onclick="openNav()">Menu<i class="fa fa-bars sidenav-bars"></i></span>
    </div>
  </button>

<div class="container  text-center">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <%= image_tag 'Group_82.png', class: 'sidenav-logo' %>
    <%= link_to 'MENU', menus_path, class:'sidenav-link' %>
    <%= link_to 'ABOUT', abouts_path, class:'sidenav-link' %>
    <%= link_to 'CONTACT', contacts_path, class:'sidenav-link' %>
    <%= link_to 'POSITIONS', positions_path, class:'sidenav-link' %>
    <%= link_to 'REVIEWS', reviews_path, class:'sidenav-link' %>
    <br>
    <h3 class="h3-dark">HOURS:</p>
    <p>Monday - Friday: 8 AM - 2 PM</p>
    <p>Saturday - Sunday: 8 AM - 2 PM</p>

  </div>
</div>


</nav>
