<nav class="navbar navbar-fixed-top navbar-toggleable-md fixed-top bg-transparent py-3" id="navbar">

    <%= link_to '', root_path, class:"navbar-brand" %>


  <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
  </button> -->

  <button class="navbar-toggler navbar-toggler-right" type="button">
    <div id="main">
      <span class="sidebar-button" onclick="openNav()">Menu <i class="fa fa-bars"></i></span>
    </div>
  </button>


  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <%= link_to 'HOME', root_path %>
    <%= link_to 'MENU', menus_path %>
    <%= link_to 'ABOUT', abouts_path %>
    <%= link_to 'CONTACT', contacts_path %>
    <%= link_to 'POSITIONS', positions_path %>
    <%= link_to 'REVIEWS', reviews_path %>
  </div>



</nav>
