<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Google Analytics -->
    <% if Rails.env.production? %>
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-80373018-2', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>
    <!-- End of Google Analytics -->


    <!-- Google Tag Manager -->
      <% if Rails.env.production? %>
        <script>
          document.addEventListener('turbolinks:load', function(event) {
            var url = event.data.url;
            dataLayer.push({
              'event':'pageView',
              'virtualUrl': url
            });
          });
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-WB6JJDM');
        </script>
      <% end %>
      <!-- End Google Tag Manager -->

      <!-- Facebook Pixel Code -->
        <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window,document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
           fbq('init', '1877803909213178');
           fbq('track', 'PageView');
        </script>

        <noscript>
           <img height="1" width="1"
          src="https://www.facebook.com/tr?id=1877803909213178&ev=PageView
          &noscript=1"/>
        </noscript>
      <!-- End Facebook Pixel Code -->

    <title>The Original Pancake House of Upper Arlington | A family oriented breakfast restaurant that serves the finest pancakes in America.</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <meta name="description" content="Enjoy the finest pancakes in America at The Original Pancake House of Upper Arlington. Our brand new, family orientated breakfast restaurant features fresh ingredients and diverse breakfast recipes from around the world.">
    <meta name="keywords" content="The Original Pancake House, Pancake House, The Original Pancake House Columbus, Breakfast Restaurants, Pancakes, Pancakes Columbus, Restaurants, Brunch, Family Restaurants, Upper Arlington Restaurants, Breakfast Columbus, UA Restaurants, Breakfast Upper Arlington">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'oph_favicon.png' %>
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqups4O-a_foQFE-IKbUrrmnUXZHFVwb8&callback=initMap">
    </script> -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Restaurant",
      "image": "http://www.ophcentralohio.com/assets/Group_82@2x.png",
      "@id": "http://ophcentralohio.com",
      "name": "The Original Pancake House",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "1633 W Lane Ave",
        "addressLocality": "New York",
        "addressRegion": "OH",
        "postalCode": "43221",
        "addressCountry": "US"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 40.0065039,
        "longitude": -83.0539071
      },
      "url": "http://www.ophcentralohio.com/",
      "telephone": "+16146956810",
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday"
          ],
          "opens": "7:00",
          "closes": "14:30"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": ["Saturday",
            "Sunday"
            ],
          "opens": "7:00",
          "closes": "16:00"
        }
      ],
      "menu": "http://www.ophcentralohio.com/menu",
      "priceRange": "2",
      "servesCuisine": "Breakfast",
      "logo": "http://www.ophcentralohio.com/assets/Group_82@2x.png",
      "sameAs": [
        "https://www.facebook.com/ophcentralohio/",
        "https://www.instagram.com/ophcentralohio/"
      ]
    },
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "http://www.ophcentralohio.com",
      "logo": "http://www.ophcentralohio.com/assets/Group_82@2x.png"
    },
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "The Original Pancake House",
      "alternateName": "OPH Central Ohio",
      "url": "http://www.ophcentralohio.com"
    }
    </script>



  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB6JJDM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%= render 'layouts/navbar' %>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>
