<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Original Pancake House of Upper Arlington | A family oriented breakfast restaurant that serves the finest pancakes in America.</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <meta name="description" content="Enjoy the finest pancakes in America at The Original Pancake House of Upper Arlington. Our brand new, family orientated breakfast restaurant features fresh ingredients and diverse breakfast recipes from around the world.">
    <meta name="keywords" content="The Original Pancake House, Pancake House, The Original Pancake House Columbus, Breakfast Restaurants, Pancakes, Pancakes Columbus, Restaurants, Brunch, Family Restaurants, Upper Arlington Restaurants, Breakfast Columbus, UA Restaurants, Breakfast Upper Arlington">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqups4O-a_foQFE-IKbUrrmnUXZHFVwb8&callback=initMap">
    </script>

  </head>
  <body>

    <%= render 'layouts/navbar' %>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>
