<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OPH - Central Ohio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqups4O-a_foQFE-IKbUrrmnUXZHFVwb8&callback=initMap" async defer>
    </script>
    
  </head>
  <body>

    <%= render 'layouts/navbar' %>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>
